@media only screen and (max-width: 1366px) {
  body {
    width: 100%;
  }

  section {
    &.slider {
      .top-destinos {
        .icon {
          position: unset;
          width: auto;
          margin-left: 0;
        }
      }
    }

   

    &.saiba-mais {
      background-position: 0;

      .socorro {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
      }

      .text {
        padding: 16px; 

        h1 {
          font-size: xx-large;
        }
      }

      .buttons-more {
        position: unset;
        width: 100%;
      }
  }

    &.locations {
      .columns {
        flex-direction: column;
        .column {

          .islands {
            height: auto;
            .island{
              height: auto;
            }
          }
          .island{
            height: auto;
          }

          &:first-child {
            max-width: 100%;
            flex-direction: row;
            height: auto;
          }
        }
      }
    }

    &.viaje-conosco {
      & .text {
        h1 {
            color: blue;
            font-size: xx-large;
            margin: 0 0 75px 0;
        }
      }


      .list{
        ol{
  
           p{
             font-size: large;
           }
           li{
            font-size: large;
           }
           hr{
            width: 100%;
  
           }
        }
      }

    }
  }

  
  .footer {
    min-width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;

    .redes-sociais {
      left: 25px;
      transform: translateY(-20px);
    }

    .fundo-logo-footer {
      position: unset;
      transform: translate(-10px, -50px); 
      img {
        max-width: 65px;
      }
    }
  }
}

@media only screen and (max-width: 1170px){
  section{
    &.projeto {
      .content{
        .columns{
          .title{
            font-size: large;
          }
          .text{
            p{
              font-size: 24px;
            }
          }
        }
      }
    }
}
}


@media only screen and (max-width: 1024px){
  .logo-container {
    &.mobile {
      display: none;
    }
  }

  .logo-container {
    left: 44%;
  }

  section{
    &.banner{
      .title{
        font-size: 400%;
        margin-left: 40px;
      }
    }


  &.projeto {
    .content {
      flex-direction: column;
      .columns {
        flex-direction: column;
        height: auto;
        margin: 0;
        padding: 16px;

        .title {
          margin: 0 0 32px 0;
          width: 100%;
          height: 46px;
        }

        .text {
          position: unset;
          margin: 0 0 50px 0;
        }
    

        .figures {
          position: unset;
          width: 100%;
          margin-left: 0;
          height: auto;
        }

        img{
          height: 800px;
          width: 600px;
          display: none;
        }
      }
    }
  }
  &.viaje-conosco {
    & .text {
      h1 {
          color: blue;
          font-size: xx-large;
          margin: 0 0 75px 0;
      }
    }


    .list{
      ol{

         p{
           font-size: large;
         }
         li{
          font-size: large;
         }
         hr{
          width: 100%;

         }
      }
    }



  }


  }
}


@media only screen and (max-width: 992px) {
  section{
    &.banner{
      .title{
        font-size: 300%;
        margin-left: 40px;
      }
    }

    &.pesquisa {

      .controller {
        height: 150px;

        .pesquisa-lista{
          .itempesquisa{
            width: 100%;
            i{
              display: none;
            }
          }
        }



        .pesquisa-conteudo {
          height: calc(150px - 80px);
          form {
            input {
              height: 50px;
              width: 90%;
            }
          }
        }
      }
    }

    &.slider{
      .top-destinos {
      
        .item1 {

          font-size: xx-large;

        }
      
        .item2 {
          margin-left: 20px;
          font-size: medium;

        }
      
        .item3 {
          width: 140px;
          height: 40px;
          margin: 0 0 0 5px;
          button{
            font-size: small;
          }
        }
        .icon{
          display: none;
        }
      }
    }

    &.locations{
        .columns {

          /* .change{
            height: 500px;
          } */
          .column {
            /* height: 800px; */
    
            .island {

    
              .info {
                padding: 4px 4px;
              

              }
    

            }
    
            .top-destinos {
              .item1{
                font-size: xx-large;            
              }

              .item2{
                font-size: 14px;
                margin-bottom: 0px;
              }

              .item3{
                width: 140px;
                height: 40px;
                margin: 0 0 0 10px;
                button{
                  font-size: small;
                }
              }
            }
    
            &.limit-height {
              .island {
                img{
                  object-position: 0;

              }
            }

          }
        }
      }
    }
  }

  &.projeto {
    margin-top: 150px;

    .content{
      .columns{
        .title{
          font-size: 24px;
        }
        .text{
          margin-top: 30px;
          margin-bottom: 30px;
          margin-left: 20px;
          p{
            font-size: 2em;
                      }
        }
      }
    }
  }

  &.saiba-mais{

    margin: 0;

    .text{
      padding-top: 0px;
      h1{
        font-size: xx-large;
      }
      p{
        font-size: small;
      }
    }
  
    .buttons-more{
      margin-top: 100px;
      .button-more{
        font-size: xx-large;
      }
    }
  }

  &.viaje-conosco{
    height: 90vh;

    .text{

      /* margin-bottom: 50px; */

      h1{
        margin-bottom: 5px;
      }

      p{
        font-size: medium;
        margin-left: 20px;
      }

    }

    .list{

      img{
        height: 240px;

      }

      ol{

         p{
          font-size: 14px;
         }
         li{
          font-size: 14px;
         }
         hr{
          font-size: small;

         }
      }
    }
    
  }
}

@media only screen and (max-width: 500px) {
  section {
    &.banner{
      .title{
        display: none;
      }
    }

    &.viaje-conosco {
      margin-top: 40px;
      ol{
        margin-top: 50px;
      }
      & .list {
        img {
          display: none;
        }
      }
    }

    &.saiba-mais {
      & .text {
        & p {
          &:nth-child(3) {
            margin-top: 20px;
          }
          font-size: large;
        }
      }

      .buttons-more {
        flex-direction: column;
      }
    }
  }

  .top-destinos {
    margin: 0 !important;
    width: 100% !important;
  }
}